<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dao" class="edu.javacourse.register.dao.MarriageDaoComponent">
        <property name="test" value="SIMPLE"/>
    </bean>

    <bean id="manager" class="edu.javacourse.register.business.MarriageManager">
        <property name="marriageDao" ref="dao"/>
    </bean>

    <bean id="control" class="edu.javacourse.register.rest.MarriageController">
        <property name="marriageManager" ref="manager"></property>
    </bean>


</beans>